*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(218, 28%, 13%);
}
h1,h2,h3,h4{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    cursor: default;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    cursor: default;
}
.social img{
    cursor: pointer;
}
ul li{
    color: white;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
input, button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    outline: none;
    border: none;
}
.logo1 img{
    width: 11rem;
    padding: 2rem 0;
}
.logo2 img{
    width: 6.75rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem 5rem 5rem;
}
.nav_links a:not(:nth-child(1)){
    margin-left: 4rem;
}
.nav_links a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.intro_section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
}
.intro h1{
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    padding: 2rem 0;
}
.intro p{
    width: 33.698125rem;
    padding: 0 0 1.5rem 0;
}
.intro button{
    color: white;
    background: linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%) 100%);
    width: 17.5rem;
    padding: 1rem 3rem;
    border-radius: 3rem;
}
.features p, .intro p{
    text-align: center;
}
.features_section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.features_container{
    width: 55rem;
    display: flex;
    column-gap: 11.375rem;
    row-gap: 5rem;
    flex-wrap: wrap;
    margin: 10rem 0;
}
.features{
    width: 21.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features h3{
    font-size: 1.125rem;
    text-align: center;
    margin: 1.5rem 0 0.5rem 0;
}
.productive_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0 0 10rem 0;
}
.productive_para{
    width: 35.1875rem;
}
.productive_para h1{
    font-size: 2rem;
}
.productive_para p{
    padding: 1rem 0;
}
.productive_para a{
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 2px solid hsl(176, 68%, 64%);
    width: max-content;
    padding-bottom: 0.25rem;
}
.quotes1 .pic{
    position: absolute;
    z-index: -10;
    top: -35px;
    left: -10px;
}
.quotes1 {
    position: relative;
}
.quotes_section{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.firstp{
    padding: 3rem 2rem 2rem 2rem;
}
.quotes{
    width: 22.5rem;
    background-color: hsl(219, 30%, 18%);
    border-radius: 0.33rem;
}
.quotes p{
    font-size: 0.9rem;
}
.profile_img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.profile_img img{
    width: 100%;
    height: 100%;
}
.profile{
    display: flex;
    align-items: center;
    padding: 0 0.2rem 1.5rem 2rem !important;
    align-items: center;
}
.profile_name h4{
    padding: 0 0 0.25rem 0.5rem;
    font-size: 0.625rem;
}
.profile_name p{
    padding: 0 0 0rem 0.5rem;
    font-size: 0.5rem;
}
.early_section{
    display: flex;
    justify-content: center;
}
.early_container_top{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.early_container h1{
    margin: 3rem 0 1.5rem 0;
}
.early_container p{
    width: 40.625rem;
    text-align: center;
}
.early_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 53.9375rem;
    background-color: hsl(217, 28%, 15%);
    border-radius: 0.66rem;
    margin-top: 2rem;
    position: relative;
    top: 8rem;
}
.early_container_bottom{
    display: flex;
    gap: 2rem;
    padding-bottom: 3rem;
}
.footer_container{
    display: flex;
    justify-content: space-between;
}
.footer_para{
    width: 21.1875rem;
}
.location_container{
    display: flex;
}
.phone_container{
    display: flex;
}
.email_container{
    display: flex;
}
footer{
    background-color: hsl(216, 53%, 9%);
}
button{
    cursor: pointer;
}
.early_section button{
    color: white;
    background: linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%) 100%);
    width: 12.5rem;
    padding: 1rem 1rem;
    border-radius: 3rem;
    border: none;
    outline: none;
}
.early_section input{
    width: 30rem;
    padding: 1rem 1rem;
    border-radius: 3rem;
    border: none;
    outline: none;
}
footer{
    padding-top: 11rem;
    padding-bottom: 5rem;
}
.location_container{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}
.contact_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
}
.phone_container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.email_container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.social{
    display: flex;
    gap: 0.5rem;
}
.footer_combined{
    display: flex;
    flex-direction: column;
    margin: 0 10rem !important;
    gap: 3rem;
}