*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(218, 28%, 13%);
}
h1,h2,h3,h4{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}
.logo img{
    width: 11rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
}
.nav_links a:not(:nth-child(1)){
    margin-left: 4rem;
}
.nav_links a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.intro_section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
}
.intro h1{
    font-size: 2rem;
    text-align: center;
}
.features p, .intro p{
    text-align: center;
}
.features_section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.features_container{
    width: 55rem;
    display: flex;
    column-gap: 11.375rem;
    row-gap: 5rem;
    flex-wrap: wrap;
}
.features{
    width: 21.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.features h3{
    font-size: 1.125rem;
    text-align: center;
}
.productive_section{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;
}
.productive_para{
    width: 35.1875rem;
}
.productive_para h1{
    font-size: 2rem;
}
.productive_para a{
    text-decoration: underline;
    color: hsl(176, 68%, 64%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.quotes1 .pic{
    position: absolute;
    z-index: -10;
    top: -30px;
}
.quotes1 {
    position: relative;
}
.quotes_section{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.quotes{
    width: 22.5rem;
    background-color: hsl(219, 30%, 18%);
}
.profile_img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.profile_img img{
    width: 100%;
    height: 100%;
}
.profile{
    display: flex;
    align-items: center;
}